#about {
    padding: 6vh 0 16vh 0;
    background-color: var(--color-primary);
}

#about h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--color-secondary);
    text-align: center;
}

#about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about .image-container>img {
    width: 40%;
    max-width: 300px;
    height: auto;
    border-radius: 16px;
}

#about .content {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    text-align: center;
}

#about .content>p {
    font-size: 18px;
    font-family: "Karla", sans-serif;
    line-height: 1.65;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    #about {
        padding: 6vh 0;
        background-color: var(--color-primary);
    }

    #about h2 {
        font-size: 32px;
        font-weight: 500;
        color: var(--color-secondary);
    }

    #about .container {
        flex-direction: column;
        align-items: center;
    }

    #about .content {
        width: 90%;
        margin-bottom: 40px;
        text-align: center;
    }

    #about .content p {
        font-size: 16px;
        line-height: 1.5;
    }

    #about .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .image-container img {
        width: 90%;
        max-width: 300px;
        height: auto;
        margin-bottom: 20px;
        border-radius: 16px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
    #about {
        padding: 6vh 0;
    }

    #about .container {
        max-width: 800px;
    }

    #about .content {
        max-width: 100%;
    }

    #about .image-container>img {
        width: 40%;
        max-width: 200px;
    }
}