.main {
    padding: 2rem;
}

.specials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.specials .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.specials .top h1 {
    font-size: 2rem;
    margin: 0;
    color: #333;
    text-align: center;
}

.specials .top button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 16px;
    background-color: #495e57;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.specials .top button:hover {
    background-color: #6f8c84;
}

.specials .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .specials .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
    }
}